   <p class="home" >This page is for viewing, adding, and removing new players to the database
      
      </p>
  
      
<table class="tablestyling" id="playertable">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.player_id}}</td>
            <td>{{this.username}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td><input type ="button" value="Delete" class="button-del" onclick="delete_row"></td>
        </tr>
        {{/each}}
    </tbody>
</table>
  

<form id="search-player-html" method='GET' action='/players' class="title">
    <label for="input-fname">Search by First Name: </label>
    <input type="text" name="first_name" id="input-firstname-search">
    <input type="submit" class="button">
    <a href='/players' ><button class="button">Reset</button></a>
</form>
      
<form id="add-players-form-ajax" class="title">
    <h2>Add Player</h2>
    
    <label for="input-username">Username: </label>
    <input type="text" name="input-username" id="input-username">

    <label for="input-firstname">First Name: </label>
    <input type="text" name="input-firstname" id="input-firstname">

    <label for="input-lastname">Last Name: </label>
    <input type="text" name="input-lastname" id="input-lastname">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <input class="button" type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_player.js"></script>
  
      <div class="title"> 
          <div>Update Player</div>
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="id.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="name.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="first name.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="last_name.." title="Type in a category">
          <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="price.." title="Type in a category">
      </div>
  
      <button class="button">Submit</button>
